.pixelLeft {
  @apply opacity-50;
  animation-name: diagonalyLeftMove;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* .pixelRight {
    @apply opacity-50;
    animation: diagonalyRightMove 20s ease-in-out infinite alternate;
} */

@-webkit-keyframes diagonalyLeftMove {
  from {
    @apply -translate-x-8 -translate-y-8;
  }
  to {
    @apply translate-x-20 translate-y-20 rotate-90;
  }
}

@keyframes diagonalyRightMove {
  from {
    @apply translate-x-8 translate-y-8;
  }
  to {
    @apply -translate-x-20 translate-y-20 rotate-90;
  }
}
